html,body{height:100%; }
body{ font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:12px; color:#666; }
/*body {font-family:Verdana,Microsoft YaHei, Arial,Tahoma,serif; font-size:12px;  }*/
body{ background:#f0f0f0; }
body,div,dl,p,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}   
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:none;}
ol,ul {list-style:none;}  
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}

/*logo*/

.header .logo,.header .logo a{ overflow:hidden;}
.header{height:70px;  background-color: #FFFFFF; position: relative;}
.header .top_left{width:444px;  background:url(../images/portal/left_center/top_left_bg.jpg) no-repeat ;}
.header .top_middle{ background:url(../images/portal/left_center/top_middle_bg.jpg) repeat-x ;}
.header .top_right_1{width:65px;  background:url(../images/portal/left_center/top_right_bg_1.jpg) no-repeat;}
.header .top_right_2{width:290px;  background:url(../images/portal/left_center/top_right_bg_2.jpg) repeat-x;}
.top_nav{ height:23px; right:0px;top:0px;position:absolute;width:300px;height:30px }
.header .top_welcome{ height:23px; right:5px;top:45px;position:absolute;height:30px ;color: #00552A;}
/*logo结束*/

/*登陆信息以及当前时间显示部分 样式*/


.sys_tit{ position:absolute ; z-index:901; top:35px; left:0px;   height:20px;  }
.sys_tit{line-height:20px;font-size:12px; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;   color:#a1a1a1;  }
.sys_tit span{  color:#b50016  }

.top_nav,.sys_nav{ margin-right:10px;}
.top_nav li,.sys_nav li,.nav li{ display:inline;}
.top_nav li{ line-height:23px;padding-left:2px; }
/*登陆信息以及当前时间显示部分 样式结束*/


/*左侧菜单树*/
.left {
	position: relative;
	width: 320px;
	height: 400px;
}
/*左侧菜单树结束*/

/*iframe*/


.content{ height:100%; vertical-align:top;}
.tab_main{ width:100%;}
.content{  background:#f0f0f0;}
/*iframe结束*/
 
 
 



.nav ul{ margin-left:10px;}
.nav li{ line-height:26px; }

/*当前位置 css*/
/*.path{ background:#f0f0f0 url(../images/portal/icon_home.gif) no-repeat left; height:30px;  line-height:30px;   text-indent:1em; padding-left:20px;}*/
.path{height:30px;}
.path a,.path a:hover{ color:#b50016; text-decoration:none;}
.path a,.path a:hover,.path span{ margin-right:10px; }
.path a:hover{  text-decoration:underline;}
/*当前位置 css 结束*/

.header{ }
* html .nav { border-right: 880px solid # ; } 
* html .nav_min { display: inline-block; position: relative; margin-right: -880px; }

/*控制header外层宽度*/
.header
{
width:expression(document.body.clientWidth <= 1000? "1000px": "auto" );
min-width:1000px;
}

/*控制header外层宽度 结束*/

ul.fr a {text-decoration:none;}
ul.fr a:hover {text-decoration:underline;}

/*右侧切换系统的下拉选择 css*/
 .sys_nav{   }
.sys_nav{ height:30px; margin-top:5px; z-index:900;}
.syspop_nav {  z-index:200;  }
.syspop_nav{ height:30px;}
.syspop_nav a{ float:right; background:url(../images/portal/sys_nav_bg.png) no-repeat 0 0;padding:0px 5px 0px 10px;text-decoration:none;}
.syspop_nav  span{ float:right; background:url(../images/portal/sys_nav_bg.png) no-repeat right -27px ; display:block; padding:3px 20px 6px 0;color:#fff; text-decoration:none;}
.syspop_nav a span{float:none;}
.syspop_nav a:hover{ background:url(../images/portal/sys_nav_bg.png) no-repeat -0 -54px; text-decoration:none; }
.syspop_nav a:hover span{background:url(../images/portal/sys_nav_bg.png) no-repeat -81px right;color:#fff; text-decoration:none; }
.syspop {  width:140px;    float:right;  position: relative; z-index:200;text-align:right;}
.sys_pop {z-index:1;}
.sys_pop {  width:125px; display:none; position:absolute; height:auto;     line-height:22px;  padding-top:1px;*padding-top:0px;  right:5px; top:25px;background-color:#fff; border:1px solid #c80a28; overflow:hidden;  text-align:right;  }
.sys_pop li {  display: block; color:#b50016 ;}
.sys_pop a {  display: block;padding-right:18px ; color:#b50016 ;border-bottom:1px dashed #ededed;}
.sys_pop a:hover{  background: #b50016 url(../images/portal/icon_sys_nav.gif) no-repeat right 9px ;border-bottom:1px dashed #b50016; color:#fff; padding-right:18px ;   }
 
 .sys_pop {
width: 125px;
display: none;
position: absolute;
height: auto;
line-height: 22px;
padding-top: 1px;
right: 5px;
top: 25px;
background-color: #fff;
border: 1px solid #c80a28;
overflow: hidden;
text-align: right;
}

/*右侧切换系统的下拉选择 css 结束*/


/*
控制菜单的样式
*/
a{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#b50016;}
.top_nav{color:#565656;}
.top_nav a{ color:#565656;}
.version{color:#ba0000;}
.version span{ font-weight:800; margin-left:5px}
.info a{ color:#af2d25;	 	}
.version { background-color:#fff;}

{
  display:none\9;
  display:none\0; 
  +display:none;
  _display:none;
  }
 
 
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.nav{ margin-top:1px ;  }
	text-indent:0px; margin:0px; padding:0px;  width:16px;  height:16px; display:block;   text-indent:-9999999;  cursor:pointer;    overflow:hidden;   }
	ul#nav .menu_sub  .menuoff a,ul#nav .menu_sub  .menuoff a:hover{ padding:0px;}
}

ul#nav ul { margin: 0px;}

ul#nav { margin: 0 0 0 5px; padding:0 ; position: absolute;  color:#e68282; z-index:100}
ul#nav ul {margin-left: 0px; width: 160px; background:url(../images/portal/navli_bg.png) repeat;  display: none; position: absolute; top: 100%; left:0px; padding:0 -10px;  border: solid #b50016; border-width: 0 1px 1px 1px ;}
ul#nav ul ul {  width: 160px;top: -1px; left: 159px; display: none;position: absolute;     border: solid #b50016  1px ;}
ul#nav ul ul ul { width: 160px; top:-1px ; left: 160px; display: none; position: absolute;   border: solid #b50016  1px ;}
ul#nav ul ul ul ul { width: 160px; top:-1px ; left: 160px; display: none; position: absolute;   border: solid #b50016  1px ;}

ul#nav .last ul{ width: 150px;  margin: 0; display: none; position: absolute; top: 100%; right: 100%; }
ul#nav .last ul ul { width: 260px;top: 0; left:-259px; display: none;position: absolute; }
ul#nav .last ul ul ul { width:260px;top: 0; left: -259px; display: none; position: absolute;}
 
ul#nav li { float: left; display:inline;  position: relative;  }
ul#nav ul li ,ul#nav ul li li,ul#nav ul li ul li { width: 100%; display: block; }

/* Root Menu */
ul#nav a { padding:7px 6px 6px 6px;  float: left; display: block; color: #fff; font: bold 12px Arial, sans-serif; text-decoration: none; height:1%;*height:auto;_height:1%; }

/* Root Menu Hover Persistence */
 
ul#nav  a:hover,ul#nav li.iehover a { height:1%;*height:auto;_height:1%;}
ul#nav li a:hover  {    }
ul#nav  li{text-align:left; display:inline;  z-index:100;}
ul#nav  li{ float:left; color:#fff;  font-size:12px;  }
ul#nav  li li{ float:left; color:#fff;  font-size:12px;   }
ul#nav  li li li{ float:left; color:#fff;  font-size:12px;   }
 
ul#nav a{float:left;     padding:0 0 0px 6px;text-decoration:none;}
ul#nav a span{float:left; display:block;padding:6px 15px 6px 10px; *padding:8px 15px 7px 10px;color:#fff; text-decoration:none;}
ul#nav a span{float:none;}
ul#nav a:hover{background:url(../images/portal/nav_bg.png) no-repeat -0 -0; padding:0 0 0 6px;}
ul#nav a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;color:#b50016; padding:6px 15px 7px 10px; *padding:8px 30px 7px 10px;}

ul#nav .iehover a{float:left; background:url(../images/portal/nav_bg.png) no-repeat -0 -0;    padding:0 0 0px 6px;text-decoration:none;}
ul#nav .iehover a span{float:left;background:url(../images/portal/nav_bg.png) no-repeat right -30px;display:block;padding:6px 15px 6px 10px; *padding:8px 15px 7px 10px;color:#b50016; text-decoration:none;}
ul#nav .iehover a span{float:none;}
ul#nav .iehover a:hover{background:url(../images/portal/nav_bg.png) no-repeat -0 -0; padding:0 0 0 6px;}
ul#nav .iehover a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;color:#b50016; padding:6px 15px 6px 10px; *padding:8px 15px 7px 10px;}

ul#nav .menu_sub a{float:left;    padding:0 0 0px 6px;text-decoration:none;}
ul#nav .menu_sub a span{float:left;background:url(../images/portal/nav_bg.png) no-repeat right -121px;display:block;padding:6px 20px 6px 10px; *padding:8px 20px 7px 10px;color:#fff; text-decoration:none;}
ul#nav .menu_sub a span{float:none;}
ul#nav .menu_sub a:hover{background:url(../images/portal/nav_bg.png) no-repeat -0 -0; padding:0 0 0 6px;}
ul#nav .menu_sub a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;color:#b50016; padding:6px 20px 6px 10px; *padding:8px 20px 7px 10px;}

ul#nav .menu_sub.iehover a {background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;    z-index:100;}
ul#nav .menu_sub.iehover a span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;  color:#b50016; padding-right:20px; *padding:8px 20px 7px 10px;    z-index:100;}


 
ul#nav .menu_sub.on a {background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;     z-index:100;}
ul#nav .menu_sub.on a span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;  color:#b50016;     z-index:100;}
ul#nav .menu_sub.on a:hover{background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;     z-index:120;}
ul#nav .menu_sub.on a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;  color:#b50016;     z-index:120;}

ul#nav .no_sub.on a {background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;    z-index:120;}
ul#nav .no_sub.on a span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;  color:#b50016;    z-index:120;}
ul#nav .no_sub.on a:hover{background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;     z-index:120;}
ul#nav .no_sub.on a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;  color:#b50016;     z-index:120;}

ul#nav .menu_sub.iehover.on a span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;  color:#b50016;     z-index:120;}
ul#nav .menu_sub.iehover.on a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -91px;  color:#b50016;     z-index:120;}

ul#nav .no_sub a {background:url(../images/portal/nav_bg.png) no-repeat 0  0;  color:#b50016;    z-index:120;}
ul#nav .no_sub a span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;  color:#b50016;    z-index:120;}
ul#nav .no_sub a:hover span{background:url(../images/portal/nav_bg.png) no-repeat right  -30px;  color:#b50016;    z-index:120;}
/*
ul#nav .menu_sub a:hover span {float:left;background:url(../images/portal/nav_bg.png) no-repeat right -90px;padding:8px 15px 6px 10px; *padding:8px 15px 4px 10px;   font-weight:bold;}
*/

/* 2nd Menu */
ul#nav .menu_sub.iehover li a{  background:#fff; background:url(../images/portal/navliout_bg.png) repeat-x;}
ul#nav .menu_sub.on li a{background:url(../images/portal/navliout_bg.png) repeat-x; color:#b50016;     z-index:120;}
ul#nav .menu_sub.on li a:hover{ background:url(../images/portal/navlion_bg.png) repeat-x;  color:#fff;     z-index:120;}
ul#nav li:hover li a{ float: none;display:block;height:29px; line-height:29px; background:url(../images/portal/navliout_bg.png) repeat-x;    text-align:left; }
ul#nav li.iehover li a { float: none;display:block;height:29px; line-height:29px;background:url(../images/portal/navliout_bg.png) repeat-x;background-image:none;    ;text-align:left;   }
/* 2nd Menu Hover Persistence
ul#nav li:hover li a:hover{ background: #ffdd85;  color:#af2d25;border-left:1px solid #fcc36c }
ul#nav li:hover li:hover a{ background: #123;  color:#af2d25;border-left:1px solid #fcc36c }
ul#nav li.iehover li a:hover{ background: #ffdd85;  color:#af2d25;}
ul#nav li.iehover li.iehover  a  li { background: #123;  color:#af2d25;   }
 */
ul#nav li.iehover li a:hover{ background:url(../images/portal/navlion_bg.png) repeat-x;   color:#fff;  height:29px; line-height:29px;}
ul#nav li.iehover li.iehover a  {background:url(../images/portal/navlion_bg.png) repeat-x;   color:#fff;   height:29px; line-height:29px; }
ul#nav li:hover li:hover a{background:url(../images/portal/navlion_bg.png) repeat-x;    color:#fff; height:29px; line-height:29px; }
/* 3rd Menu */ 
ul#nav li.iehover li.iehover li a{ background-image:none; color:#b50016; padding-left:15px;;}

/* 3rd Menu Hover Persistence */

ul#nav li:hover li:hover li a:hover
 
,ul#nav li.iehover li.iehover li a:hover
,ul#nav li.iehover li.iehover li.iehover a {  background:url(../images/portal/navlion_bg.png) repeat-x;  padding-left:15px; color:#fff;}
/* 4th Menu */
ul#nav li.iehover li.iehover li.iehover li a{ background: #fff;  color:#b50016; padding-left:15px;  }
ul#nav li.iehover li.iehover li.iehover li a:hover {background:url(../images/portal/navlion_bg.png) repeat-x;  background-image:none;  color:#fff; padding-left:15px; }

ul#nav li:hover li:hover li:hover li a:hover,ul#nav li:hover li:hover li:hover li:hover  a,ul#nav li.iehover li.iehover li.iehover li a:hover,ul#nav li.iehover li.iehover li.iehover li.iehover a {background:url(../images/portal/navlion_bg.png) repeat-x; color:#fff; padding-left:15px;}
 
 /* 5th Menu */
ul#nav li.iehover li.iehover li.iehover li.iehover li a{background:url(../images/portal/navli_bg.png) repeat-x  ; color:#b50016; padding-left:15px;;}
ul#nav li.iehover li.iehover li.iehover li.iehover li a:hover { background:url(../images/portal/navlion_bg.png) repeat-x;  color:#fff; padding-left:15px;}

ul#nav li:hover li:hover li:hover  li:hover li a:hover,ul#nav li:hover li:hover li:hover li:hover li:hover  a,ul#nav li.iehover li.iehover li.iehover li.iehover li a:hover,ul#nav li.iehover li.iehover  li.iehover li.iehover li.iehover a { background:url(../images/portal/navlion_bg.png) repeat-x; color:#fff; padding-left:15px;}

 /* 6th Menu */
ul#nav li.iehover li.iehover li.iehover li.iehover li.iehover li a{background:url(../images/portal/navli_bg.png) repeat-x  ; color:#b50016;padding-left:15px;;}
ul#nav li.iehover li.iehover li.iehover li.iehover li.iehover li a:hover {background:url(../images/portal/navlion_bg.png) repeat-x; color:#fff; padding-left:15px;}

ul#nav li:hover li:hover li:hover  li:hover li a:hover,ul#nav li:hover li:hover li:hover li:hover li:hover  a,ul#nav li.iehover li.iehover li.iehover li.iehover li a:hover,ul#nav li.iehover li.iehover  li.iehover li.iehover li.iehover a { background:url(../images/portal/navlion_bg.png) repeat-x;  color:#fff; padding-left:15px;}
  
 
/* Hover Function - Do Not Move */
ul#nav li ul,
ul#nav li ul ul,
ul#nav li ul ul ul{ display:none;}

ul#nav li:hover ul,
ul#nav li:hover ul ul,
ul#nav li:hover ul ul ul,ul#nav li:hover ul ul ul ul,ul#nav li:hover ul ul ul ul ul
ul#nav li.iehover ul ,ul#nav li.iehover ul ul,
ul#nav li.iehover ul ul ul ,ul#nav li.iehover ul ul ul ul,ul#nav li.iehover ul ul ul ul ul{ display: none; }

ul#nav li:hover ul,
ul#nav ul li:hover ul,
ul#nav ul ul li:hover ul ,ul#nav ul ul ul li:hover ul,ul#nav ul ul ul ul li:hover ul{ display:none;}

ul#nav li.iehover ul,
ul#nav ul li.iehover ul,
ul#nav ul ul li.iehover ul ,ul#nav ul ul ul li.iehover ul ,ul#nav ul ul ul ul li.iehover ul{ display: block; z-index:100}
 
ul#nav li a.sub_sub{ background: url(../images/portal/nav_li_li_out.png) no-repeat right; padding-left:15px;}
ul#nav li a:hover .sub_sub{ background: url(../images/portal/nav_li_li_out.png) no-repeat right; padding-left:15px;}
 
 
ul#nav li.iehover li a.sub_sub{ background: url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;}
ul#nav li.iehover li.iehover a.sub_sub { background:url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;   }
ul#nav li:hover li:hover a.sub_sub{ background:url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c; }

ul#nav li.iehover li.iehover li a.sub_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;}
ul#nav li.iehover li.iehover li.iehover a.sub_sub { background: url(../images/portal/nav_li_li_out.png) no-repeat right  ; padding-left:15px;  color:#dc1b1c;   }
ul#nav li:hover li:hover li:hover  a.sub_sub{ background:  url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c; }

ul#nav li.iehover li.iehover li.iehover  li  a.sub_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;}
ul#nav li.iehover li.iehover li.iehover li.iehover a.sub_sub { background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;   }
ul#nav li:hover li:hover li:hover li:hover a.sub_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c; }

ul#nav li.iehover li.iehover li.iehover li.iehover li a.sub_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;}
ul#nav li.iehover li.iehover li.iehover li.iehover li.iehover a.sub_sub { background:  url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c;   }
ul#nav li:hover li:hover li:hover li:hover li:hover a.sub_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right ; padding-left:15px;  color:#dc1b1c; }

 

ul#nav li.iehover li a.nav_sub{ background:   url(../images/portal/nav_li_li_out.png) no-repeat right  ;  height:29px; line-height:29px;   }
ul#nav li.iehover li.iehover a.nav_sub { background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li.iehover li.iehover .nav_sub:hover{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li.iehover li.iehover .nav_sub a{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li:hover li:hover a.nav_sub{ background:   url(../images/portal/nav_li_li_on.png) no-repeat right  ;   height:29px; line-height:29px;   }


ul#nav li.iehover li.iehover li a.nav_sub{background:   url(../images/portal/nav_li_li_out.png) no-repeat right  ;  height:29px; line-height:29px;   }
ul#nav li.iehover li.iehover li.iehover a.nav_sub{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px; z-index:200;    }
ul#nav li.iehover li.iehover li.iehover .nav_sub:hover{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px; z-index:200;    }
ul#nav li:hover li:hover li:hover  a.nav_sub{ background:   url(../images/portal/nav_li_li_on.png) no-repeat right  ;   height:29px; line-height:29px;   }

ul#nav li.iehover li.iehover li.iehover  li  a.nav_sub{background:   url(../images/portal/nav_li_li_out.png) no-repeat right  ;  height:29px; line-height:29px;   }
ul#nav li.iehover li.iehover li.iehover li.iehover a.nav_sub{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li.iehover li.iehover li.iehover li.iehover .nav_sub:hover{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li:hover li:hover li:hover li:hover a.nav_sub{ background:   url(../images/portal/nav_li_li_on.png) no-repeat right  ;   height:29px; line-height:29px;   }

ul#nav li.iehover li.iehover li.iehover li.iehover li a.nav_sub{background:   url(../images/portal/nav_li_li_out.png) no-repeat right  ;  height:29px; line-height:29px;   }
ul#nav li.iehover li.iehover li.iehover li.iehover li.iehover a.nav_sub{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li.iehover li.iehover li.iehover li.iehover li.iehover .nav_sub:hover{ background:  url(../images/portal/nav_li_li_on.png) no-repeat right  ; height:29px; line-height:29px;    }
ul#nav li:hover li:hover li:hover li:hover li:hover a.nav_sub{ background: url(../images/portal/nav_li_li_on.png) no-repeat right  ;   height:29px; line-height:29px;   }
/*菜单样式  结束*/


